/* Barre de navigation */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8e8e6; /* Même couleur que l'arrière-plan du logo */
  padding: 0.5rem 1.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  width: 80px; /* Ajustez la taille du logo */
  height: auto;
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
}

.nav-link {
  color: var(--sidebar-text-color); /* Blanc pour correspondre au design */
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--primary-color); /* Accent color */
}
